span.we{text-decoration:underline; text-decoration-style: wavy; text-decoration-color:green; cursor:pointer;}
  span.we:hover{text-decoration:underline;/ text-decoration-style: none; 
    text-decoration-color:green; cursor:pointer; color:green;}
  #overlay {
    
    display:none;
  position: fixed; /* Sit on top of the page content */
/*  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

    color:white;
}
  #overlay div{
    margin:80px; font-size:200%; line-height:normal;}
   #overlay div button{padding:20px; font-size:100%; background:#222222;border-color:white;color:white; cursor:pointer}